{% extends "::layout_appbundle.html.twig" %}

{% block title %}{{parent()}} - Article {% endblock %}



{% block contenu %}



    <article>
        <h3>{{article.titre}}</h3>
        <div class="well">
            {% if article.image is not null %}<img src="{{asset('images/' ~ article.image.url)}}" alt="{{article.image.alt}}" />{%endif%}{{article.contenu|raw}}
            <i>Le {{article.date|date("d/m/Y \à H:i")}} par {{article.auteur}} ( modifié le {{article.dateModification|date("d/m/Y \à H:i")}} )</i></div>


    </article>
    <p>{% for categorie in article.categories %}
        <a href="{{path("blog_categorie", { "titre":categorie.titre})}}"><span class="label label-default">{{ categorie.titre }}</span></a>
            {% else %}
                {%  endfor %}
            </p>
            {% if is_granted('ROLE_ADMIN') %}
                <p>
                    <a href="{{ path('admin_article_edit', {'id':article.id}) }}" class="btn btn-default">Modifier <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span></a>
                    <a href="{{ path('blog_supprimer', {'id':article.id}) }}" class="btn btn-default">Supprimer <span class="glyphicon glyphicon-remove" aria-hidden="true"></span></a>
                </p>
            {% endif %}

            <div id="commentaire">

                {% if article.commentaires is not empty  %}

                    <h3>Commentaires</h3>

                    <ul>
                        {% for commentaire in article.commentaires %}
                            <li>
                                <i>Le {{commentaire.date|date('d/m/Y \à H:i:s')}} par {{ commentaire.auteur.username }}</i>
                                <p class="well">{{ commentaire.contenu }}</p>
                            </li>
                        {% else %}

                        {% endfor %}
                    </ul>

                {% endif %}
                {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                    {%include':blog:commentaire_formulaire.html.twig'%}
                {% else %}
                    <p><a href="{{ path('fos_user_security_login') }}">Connectez-vous</a> pour commenter.</p>
                {% endif %}
            </div>

            {% endblock %}