{% form_theme form 'bootstrap_3_layout.html.twig' %}

<div class="well">
    {{form_start(form)}}


    {#  <div class="form-group">
          {{form_label(form.auteur,"Votre nom") }}
          <div class="col-sm-10">{{form_widget(form.auteur ) }} </div>
          {{form_errors(form.auteur) }}
      </div>
  
      <div class="form-group">
          {{form_label(form.contenu,"Ajouter un nouveau commentaire" ) }}
          <div class="col-sm-10">{{form_widget(form.contenu )}} </div>
          {{form_errors(form.contenu) }}
      </div>#}

    {{form_row(form.contenu,{ 'label' : 'Ajouter un nouveau commentaire' })}}

    {#    {{ form_label(form.auteur,"Votre nom") }}
        {{ form_errors(form.auteur) }}
        {{ form_widget(form.auteur) }}
    #}


    {{form_end(form)}}
</div>