{% extends "::layout_appbundle.html.twig" %}

{% block  stylesheet %}
    {{parent()}}
    <style>
        article img{
            width:280px;
            float:left;
            margin-right:10px
        }
    </style>
{%endblock%}

{% block title %}{{parent()}} - Accueil {% endblock %}

{% block contenu %}

    <p>Accueil Page : {{ page }}</p>
    {% for article in articles %}
        <article >
            <h3>{{article.titre}}</h3>
            <p class="well">
                {% if article.image is not null %}<img src="{{asset('images/' ~ article.image.url)}}" alt="{{article.image.alt}}" />{%endif%}{{article.contenu|raw}}
                <br/><br/><i>Le {{article.date|date("d/m/Y")}}</i></p>
            <a href="{{ path('blog_article', {'id':article.id}) }}" class="btn btn-default">Lire ></a>
        </article>
        <hr/>
    {%else%}
        <p class="alert alert-warning">Ancun article trouvé.</p>
    {%endfor%}


{% endblock %}
